*{

box-sizing:border-box;

}


body{

margin:0;

font-family:Arial,"Tahoma",sans-serif;

background:#ffd166;

text-align:center;

}





#game{

width:95%;

max-width:1200px;

margin:20px auto;

background:white;

padding:20px;

border-radius:30px;

box-shadow:0 0 20px #999;

}






/* START */


#startScreen,
#levelPopup{


position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:#ffd166;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

z-index:99;


}



#levelPopup{

display:none;

}



#startScreen h1,
#levelPopup h1{

font-size:60px;

}




button{


font-size:22px;

padding:15px 30px;

margin:8px;

border:none;

border-radius:20px;

background:#3498db;

color:white;

cursor:pointer;


}



button:active{

transform:scale(.95);

}




#startScreen button,
#levelPopup button{


background:#2ecc71;

font-size:30px;

}









/* TOP */


.top{


display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

background:#fff3cd;

padding:15px;

border-radius:20px;

font-size:25px;


}









/* STOCK */


#stockBox{


margin:20px auto;

padding:20px;

width:300px;

background:#dff9fb;

border-radius:25px;

font-size:24px;

font-weight:bold;


}







/* MISSION */


#missionBox{


background:#e8f8f5;

padding:15px;

border-radius:20px;

font-size:22px;

margin:20px;


}









/* CUSTOMERS */


#customers{


display:flex;

justify-content:center;

gap:15px;

flex-wrap:wrap;


}



.customer{


width:180px;

background:#ffeaa7;

padding:15px;

border-radius:25px;

animation:appear .5s;

cursor:pointer;

}



.customer:hover{


transform:scale(1.05);


}



.customer.selected{


border:5px solid #3498db;


}



.customerFace{


font-size:70px;

}



.heart{

font-size:22px;

}



.order{


background:white;

border-radius:15px;

padding:10px;

font-size:20px;

}






@keyframes appear{


from{

opacity:0;

transform:translateY(-40px);

}


to{

opacity:1;

transform:translateY(0);

}


}









/* KITCHEN */


.kitchen{


display:flex;

justify-content:center;

flex-wrap:wrap;

gap:20px;

margin-top:30px;


}





.station{


background:#eeeeee;

width:250px;

padding:20px;

border-radius:30px;


}





.food{


font-size:80px;

height:100px;

display:flex;

align-items:center;

justify-content:center;


}







/* TIMER CIRCLE */


.circle{


width:130px;

height:130px;

border-radius:50%;

background:#ddd;

display:flex;

justify-content:center;

align-items:center;

margin:15px auto;


}



.circle div{


background:white;

width:90px;

height:90px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:24px;


}








/* MESSAGE */


#message{


font-size:30px;

color:#e67e22;

min-height:40px;


}





.serve{


background:#2ecc71;

font-size:30px;

padding:20px 70px;


}









/* MOBILE / IPAD */


@media(max-width:900px){


#game{

width:100%;

border-radius:0;

}



.station{


width:90%;


}



.customer{


width:150px;


}


button{


font-size:24px;

padding:18px;


}


}
