*{
box-sizing:border-box;
}


body{

margin:0;

font-family:Tahoma,Arial,sans-serif;

background:#ffd166;

text-align:center;

}




button{

font-size:22px;

padding:12px 25px;

border:none;

border-radius:15px;

background:#3498db;

color:white;

margin:5px;

cursor:pointer;

}



button:active{

transform:scale(.95);

}








/* START */

#startScreen{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:#ffd166;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

z-index:10;

}



#startScreen button{

font-size:35px;

background:#2ecc71;

padding:20px 70px;

}







/* POPUP */


#popup{

display:none;

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,.6);

justify-content:center;

align-items:center;

flex-direction:column;

color:white;

z-index:20;

}



#popup button{

background:#2ecc71;

}








/* GAME */


#game{

display:none;

background:white;

max-width:1200px;

margin:auto;

padding:20px;

border-radius:25px;

}







.info{

display:flex;

justify-content:center;

gap:30px;

font-size:25px;

background:#fff3cd;

padding:15px;

border-radius:20px;

}








/* STOCK */

#stock{

background:#dff9fb;

padding:15px;

border-radius:20px;

margin:15px auto;

width:300px;

font-size:22px;

}







/* MISSION */

#mission{

background:#e8f8f5;

padding:15px;

border-radius:20px;

font-size:20px;

}








/* CUSTOMER */

#customers{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:15px;

}



.customer{

width:170px;

background:#ffeaa7;

border-radius:20px;

padding:15px;

cursor:pointer;

}



.customer.selected{

border:5px solid #3498db;

}



.customerFace{

font-size:60px;

}


.heart{

font-size:22px;

}


.order{

background:white;

border-radius:10px;

padding:10px;

}







/* KITCHEN */


.kitchen{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:20px;

margin-top:20px;

}




.box{

background:#eeeeee;

width:250px;

padding:20px;

border-radius:25px;

}







/* TIMER */


.timer{

width:130px;

height:130px;

border-radius:50%;

background:#ccc;

margin:20px auto;

display:flex;

align-items:center;

justify-content:center;

}



.timer div{

width:90px;

height:90px;

background:white;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-size:25px;

font-weight:bold;

}








/* STATUS */


#meatStatus,
#friesStatus,
#drinkStatus,
#burgerStatus{

font-size:20px;

font-weight:bold;

}








#serveButton{

margin-top:30px;

background:#2ecc71;

font-size:35px;

padding:20px 80px;

}



#message{

color:#e67e22;

min-height:40px;

}







.warning{

background:red!important;

color:white;

}





@media(max-width:700px){


#game{

border-radius:0;

width:100%;

}



.box{

width:90%;

}



button{

font-size:24px;

}


}
